<div class="activity-item">
  <div class="parent-info"><%= link_to activity_item[:parent], activity_item[:parent] %></div>
  <div class="activity-info">
    <em><%=link_to activity_item[:user], activity_item[:user] %></em>
    <%= activity_item[:action] %>
    <strong><%= link_to activity_item[:subject], activity_item[:subject] %></strong>
    <%= time_ago_in_words(activity_item[:date], true) %> ago
  </div>
</div>
