<div class="activity-item">
  <div class="parent-info"><%= link_to activity_item[:parent], activity_item[:parent] %></div>
  <div class="activity-info">
    <%= link_to(gravatar(activity_item[:user], 30), activity_item[:user], :class => 'gravatar') %>
    <em><%=link_to activity_item[:user], activity_item[:user] %></em>
    <%= activity_item[:action] %>
    <strong><%= link_to activity_item[:subject], activity_item[:subject], :class => "subject #{activity_item[:object].class.to_s.downcase}" %></strong>
    <span class="time"><%= time_ago_in_words(activity_item[:date], true) %> ago</span>
  </div>
</div>
