
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Customer</th>
      <th>Project</th>
      <th>Task</th>
      <th>Updated</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% for task in @tasks %>
      <tr>
        <td><%= task.id %></td>
        <td><%= link_to task.project.customer, task.project.customer %></td>
        <td><%= link_to task.project, task.project %></td>
        <td><%= link_to task, task %></td>
        <td><%= distance_of_time_in_words(task.updated_at, DateTime.now.to_date) %> ago</td>
        <td><div class="inlinebar"><%= task.timeslices.group_by(&:date).collect { |date, timeslices| (Timeslice.total_duration(timeslices)/60/60).round(2) }.join(',') %></div><%= (Timeslice.total_duration(task.timeslices)/60/60.to_f).round(2) %> hours</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @tasks %>

