<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ristretto - Project Management and Time-tracking</title>
  <%= stylesheet_link_tag ['application', "fullcalendar"] %>
  <%= javascript_include_tag [
      'jquery.min',
      'jquery.ui.min',
      'jquery.form.min',
      'jquery.purr.min',
      'jquery.bt.min',
      'jquery.sparkline.min',
      'jquery.throbber.min',
      'jquery.typing.min',
      'jquery.textarearesizer.min',
      'autoresize.jquery.min',
      'wmd/jquery.wmd.min',
      'application.min',
      "jquery.timeentry.min",
      "timeslice.new",
      "ajax"
      ] %>
  <%= yield :head %>
<style type="text/css" media="all">
body {
  background: transparent!important;
}
#widget {
  height: 250px;
  width: 60%;
  padding: 10px 100px;
  margin: 0 auto;
}
#widget {

}
</style>
<script type="text/javascript">
$(document).ready(function() {
  $('option').bt({
        fill: '#F3F3F3',
        cornerRadius: 4,
        strokeWidth: 1,
        strokeStyle: '#939393',
        shadow: true,
        shadowOffsetX: 0,
        shadowOffsetY: 0,
        shadowBlur: 3,
        shadowColor: '#888',
        shadowOverlap: false,
        noShadowOpts: {strokeStyle: '#999', strokeWidth: 2},
        contentSelector: "$(this).text()",
        shrinkToFit: true,
        cssStyles: {
        color: '#000'
    }
  });
  ajaxifyForm($('#new_timeslice'));
});
</script>

</head>
<body>
<div id="widget">
<%= javascript_tag("TIMESLICE_GRANULARITY = #{current_user.minute_step}") %>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<div id="new_timeslice_wrapper" class="big">
  <%= render :partial => "timeslices/smart_add_form" %>
</div>
</div>
</body>
</html>
