<% div_for comment do %>
<a name="comment-<%= comment.id %>"></a>
  <%= post_info comment %>
  <%= content_tag "div", markdown(comment.body), :class => "content" %>

  <%= edit_link comment if can? :edit, comment %>
  <%= delete_link comment if can? :destroy, comment %>
  <% if comment.attachments.size > 0 %>
    <ul class="attachments">
      <%= render comment.attachments %>
    </ul>
  <% end %>
<% end %>
