<% javascript 'attachment.new' %>
  <% flash[:error] = form.error_messages %>
  <% if comment.new_record? %>
    <%= form.hidden_field :task_id %>
  <% end %>
  <div class="form-item form-item-block">
    <%= label :notify, :notify, 'Notify stakeholders' %>
    <%= check_box :notify, :notify, { :checked => 'checked' } %>
  </div>

  <div class="form-item form-item-block">
    <%= form.label :body %>
    <%= form.text_area :body, {:rows => 5, :class => 'markdown'} %>
  </div>

  <% if comment.attachments.size > 0 %>
    <ul class="attachments">
      <%= render comment.attachments %>
    </ul>
  <% end %>

  <div id="attachments">
    <div class="form-item form-item-block">
      <% fields_for "new_attachments[]", attachment do |f| %>
        <%= f.label :file %>
        <%= f.file_field :file %>
      <% end %>
    </div>
  </div>

  <div class="form-item form-item-block form-submit">
    <%= form.submit "Save" %>
  </div>
