<%- content_for :breadcrumbs do -%>
  <%= crumb @task.project.customer.name, @task.project.customer %>
  <%= crumb @task.project.name, @task.project %>
  <%= crumb @task.project.customer.name, @task %>
  <%= crumb 'Comments', task_comments_path(@task) %>
<% end %>

<%= title "Comments" -%>

<table class="comments">
  <thead>
  <tr>
    <th>Body</th>
    <th>Task</th>
    <th><%= image_tag 'show.png' %></th>
    <th><%= image_tag 'edit.png' %></th>
    <th><%= image_tag 'delete.png' %></th>
  </tr>
  </thead>
  <tbody>
<% for comment in @comments %>
  <tr>
    <td><%=h comment.body %></td>
    <td><%=h comment.task_id %></td>
    <td><%= show_link comment %></td>
    <td><%= edit_link comment %></td>
    <td><%= delete_link comment %></td>
  </tr>
<% end %>
  </tbody>
</table>
