<%- content_for :breadcrumbs do -%>
  <%= crumb @comment.task.project.customer.name, @comment.task.project.customer %>
  <%= crumb @comment.task.project.name, @comment.task.project %>
  <%= crumb @comment.task.project.customer.name, @comment.task %>
  <%= crumb @comment.body, @comment %>
<% end %>

<%- content_for :tabs do -%>
  <%= tab 'Edit', edit_comment_path(@comment) if can? :edit, @comment %>
  <%= tab 'New comment', new_task_comment_path(@comment.task) if can? :create, Comment %>
<% end %>
<%= post_info(@comment) %>
<p>
  <strong>Body:</strong>
  <%=h @comment.body %>
</p>

<p>
  <strong>Task:</strong>
  <%=h @comment.task_id %>
</p>
