<%= title "Tasks" -%>

<table class="tasks">
  <thead>
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th>Customer</th>
    <th>State</th>
    <th><%= image_tag 'show.png' %></th>
    <th><%= image_tag 'edit.png' %></th>
    <th><%= image_tag 'delete.png' %></th>
  </tr>
  </thead>
  <tbody>
<% for task in tasks %>
  <tr class="<%= task.state %>">
    <td><%= link_to task.name, task %></td>
    <td><%= link_to task.project.name, task.project %></td>
    <td><%= link_to task.project.customer.name, task.project.customer %></td>
    <td><%= task.state.humanize %></td>
    <td><%= show_task task %></td>
    <td><%= edit_link task %></td>
    <td><%= delete_link task %></td>
  </tr>
<% end %>
  </tbody>
</table>
