<div class="task <%= ordered_task.state %> <%= ordered_task.tag_classes %>" id="task-<%= ordered_task.id %>">
  <div class="handle"><%= hidden_field_tag 'task_ids[]', ordered_task.id, :class => 'task-id', :id => "task_ids_#{ordered_task.id}" %></div>
  <div class="heading">
      <span class="title"><%= link_to truncate(ordered_task.name,{:length => 50}),ordered_task, {:title => ordered_task.name} %></span>
      <% if ordered_task.assigned_to %>
      <span class="cypher" title="<%= ordered_task.assigned_to %>">(<%= ordered_task.assigned_to.try(:initials) %>)</span>
      <% else %>
      <span class="cypher" title="Un-assigned">(---)</span>
      <% end %>

    <% if ordered_task.comments.count > 0 %>
    <span class="comment-count"><%= ordered_task.comments.count %></span>
    <% end %>

    <div class="expand-collapse expand"></div>
    <div class="current-state <%= ordered_task.state %>" title="<%= ordered_task.state.humanize %>"><%= truncate(ordered_task.state.humanize, {:length => 1, :omission => ''}) %></div>
  </div>

  <div class="content">
    <div class="description"></div>
    <% totals = ordered_task.timeslices.group_by(&:week).collect { |week, timeslices| (Timeslice.total_duration(timeslices)/60/60).round(2) } %>

    <ul class="edit-links">
      <li class="comment"><%= link_to image_tag('comment.png', :alt => 'Comment'), task_path(ordered_task) + '#comment-form' %></li>
      <li class="view"><%= show_link ordered_task %></li>
      <li class="edit"><%= edit_link ordered_task if can? :edit, ordered_task %></li>
      <li class="delete"><%= delete_link ordered_task if can? :delete, ordered_task %></li>
    </ul>

    <div class="inlinebar"><%= totals.join(',') %></div>

  </div>
  <div class="order"><%= hidden_field_tag 'task_orders[]', ordered_task.weight, {:id => "task_orders_#{ordered_task.id}"} %></div>
  <div class="state"><%= hidden_field_tag 'task_states[]', ordered_task.state, {:id => "task_states_#{ordered_task.id}"} %></div>
</div>
