<div class="task <%= ordered_task.state %> <%= ordered_task.tag_classes %>" id="task-<%= ordered_task.id %>">
  <div class="handle"><%= hidden_field_tag 'task_ids[]', ordered_task.id, :class => 'task-id', :id => "task_ids_#{ordered_task.id}" %></div>
  <div class="heading">
    <span class="title"><%= link_to truncate(ordered_task.name,{:length => 75}), ordered_task, {:title => ordered_task.name} %></span>
    <div class="task-toolbar">
      <div class="options"></div>
      <div class="state-buttons">
        <% ordered_task.next_states.each do |state| %>
        <div class="state-button state <%= state %>" title="<%= state.humanize.gsub(/ed$/,'') %>"><%= link_to state.humanize.gsub(/ed$/,''), '#', :rel => state %></div>
        <% end %>
      </div>
      <% if ordered_task.assigned_to %>
      <span class="cypher" title="<%= ordered_task.assigned_to %>">(<%= ordered_task.assigned_to.try(:initials) %>)</span>
      <% else %>
      <span class="cypher" title="Un-assigned">(---)</span>
      <% end %>
    </div>
  </div>

  <ul class="edit-links">
    <li class="task_id"><%= ordered_task.id%></li>
    <li class="view"><%= show_link ordered_task, 'Show' %></li>
    <li class="edit"><%= edit_link ordered_task, 'Edit' %></li>
    <li class="delete"><%= delete_link ordered_task, 'Delete' %></li>
  </ul>
  <div class="order"><%= hidden_field_tag 'task_orders[]', ordered_task.weight, {:id => "task_orders_#{ordered_task.id}"} %></div>
  <div class="state"><%= hidden_field_tag 'task_states[]', ordered_task.state, {:id => "task_states_#{ordered_task.id}"} %></div>
</div>
