<div class="task <%= task.state %>" id="task-<%= task.id %>">
  <div class="heading">
      <span class="title"><%= link_to truncate(task.name,{:length => 50}),task, {:title => task.name} %></span>

    <%
    task_accept = task
    task_accept.state = 'accepted'
    task_reject = task
    task_reject.state = 'rejected'
    %>
    <div class="expand-collapse expand"></div>
    <div class="buttons">
      <% form_for task, :html => {:class => 'edit_task accept'} do |form| %>
        <%= hidden_field_tag 'task[state]', 'accepted' %>
        <%= form.submit "Accept" %>
      <% end %>
      <% form_for task_reject, :html => {:class => 'edit_task reject'} do |form| %>
        <%= hidden_field_tag 'task[state]', 'rejected' %>
        <%= form.submit "Reject" %>
      <% end %>
    </div>
  </div>

  <div class="content">
    <div class="description"><%= markdown(task.description) %></div>
  </div>
</div>