<% content_tag 'tr', { :class =>  "task-#{task.id} task" } do %>
  <td class="name"><%= link_to task.name, task %></td>
  <td class="state <%= task.state %>"><%= task.state.humanize %></td>
  <td class="estimate"><%= pluralize(task.estimate, 'hour') %></td>

  <td class="comment-count"><%= task.comments.count %></td>
  
  <td>
  <ul class="edit-links">
    <li class="edit"><%= edit_link task %></li>
    <li class="delete"><%= delete_link task %></li>
  </ul>
  </td>
<% end %>
