<% content_tag 'tr', :class =>  "task-#{task.id} task" do %>
  <td class="name"><%= link_to task.name, task %></td>
  <td class="state <%= task.state %>"><%= task.state.humanize %></td>
  <td class="estimate"><%= pluralize(task.estimate.to_f.round(2), 'hour') %></td>
  <td class="time"><%= pluralize(task.total_chargeable_duration_hours.to_f.round(2), 'hour') %></td>
  <!--<td><% task.next_states.each do |next_state| %><%= render 'tasks/state_button', :task => task, :next_state => next_state, :destination => request.path %><% end %></td>-->
<% end %>
