<%- content_for :breadcrumbs do -%>
  <%= crumb @customer.name, @customer %>
  <%= crumb @project.name, @project %>
  <%= crumb 'Import tasks', import_project_tasks_path(@project) %>
<%- end -%>

<%= title "Import tasks" -%>

<% form_tag import_save_project_tasks_path(@project) do %>
<p>Please enter one task name per line.</p>
<%= label_tag :tasks %>
<%= text_area_tag :tasks, @tasks || nil, :class => 'resize', :rows => 25 %>
<%= submit_tag :import %>
<% end %>
