<%- content_for :breadcrumbs do -%>
  <%= crumb @customer.name, @customer %>
  <%= crumb @project.name, @project %>
  <%= crumb 'Tasks', project_tasks_path(@project) %>
<%- end -%>

<% title "Tasks" -%>
<div id="tasks" class="tasks panel no-padding">
  <h3 class="title">Tasks</h3>
  <div class="content">
    <ul class="tasks">
      <%= render @tasks %>
    </ul>
  </div>
  <div class="panel-footer">
    <%= will_paginate @tasks %>
  </div>
</div>
