<%- content_for :breadcrumbs do -%>
  <% unless @project.nil? %>
    <%= crumb @customer.name, @customer %>
    <%= crumb @project.name, @project %>
    <%= crumb 'Tasks', project_tasks_path(@project) %>
    <% else %>
      <%= crumb 'Tasks', tasks_path %>
  <% end %>
<%- end -%>

<% title "Tasks" -%>
<div id="tasks" class="tasks panel">
  <h3 class="title">Tasks</h3>
  <div class="content">
    <ul>
      <%= render @tasks %>
    </ul>
  </div>
  <div class="panel-footer">
    <%= will_paginate @tasks %>
  </div>
</div>
