<%- content_for :breadcrumbs do -%>
  <% unless @project.nil? %>
    <%= crumb @customer.name, @customer %>
    <%= crumb @project.name, @project %>
    <%= crumb 'Tasks', project_tasks_path(@project) %>
    <% else %>
      <%= crumb 'Tasks', tasks_path %>
  <% end %>
<%- end -%>

<div class="tasks">
  <%= title "Tasks" -%>
  <ul>
<%= render @tasks %>
  </ul>
</div>
<%= will_paginate @tasks %>
