<%- content_for :tabs do -%>
  <%= tab 'Edit', edit_task_path(@task) %>
  <%= tab 'New timeslice', new_task_timeslice_path(@task) %>
  <%= tab 'New task', new_project_task_path(@project) %>
<% end %>

<%- content_for :breadcrumbs do -%>
  <%= crumb 'Customers', customers_path %>
  <%= crumb @project.customer.name, @project.customer %>
  <%= crumb 'Projects', customer_projects_path(@project.customer) %>
  <%= crumb @project.name, @project %>
  <%= crumb 'Tasks', project_tasks_path(@project) %>
  <%= crumb @task.name, @task %>
<%- end -%>

<%= title @task.name %>

<div id="timeslices">
  <h3 class="title dark">Timeslices</h3>
  <div class="timeslices">
    <% if @task.timeslices.size == 0 %>
      <%="No Timeslices!" %>
    <% else %>
      <%= render :partial => 'timeslices/list', :locals => { :timeslices => @task.timeslices } %>
    <% end %>
  </div>
</div>

<div id="task-details" class="panel small-panel">
<h3 class="title">Task details</h3>
<div class="content">
<p>
  <strong>State:</strong>
  <%= @task.state.humanize %>
</p>

<p>
  <strong><% if @task.project.fixed_price %>Quote:<% else %>Estimate:<% end %></strong>
  <%= pluralize(@task.estimate.to_f.round(2), 'hour') %>
</p>

<p>
  <strong>Chargeable:</strong>
  <%= pluralize((Timeslice.total_chargeable_duration(@task.timeslices)/60/60).to_f.round(2), 'Hour') %>
</p>

<p>
  <strong>Non-chargeable:</strong>
  <%= pluralize((Timeslice.total_nonchargeable_duration(@task.timeslices)/60/60).to_f.round(2), 'Hour') %>
</p>

</div>
</div>
