<% javascript 'add-timeslice' %>
  <% flash[:error] = form.error_messages :message => nil, :header_message => nil %>

  <% unless task.present? %>
  <div class="clearfix">
    <%= form.label 'Task' %>
    <div class="input">
      <%= form.select :timetrackable_object, grouped_options_for_select(current_user.timetrackable_for_select, @timeslice.timetrackable_object || nil), {}, :class => 'input-xxlarge' %>
    </div>
  </div>
  <% end %>
  <div class="clearfix">
    <%= form.label :description %>
    <div class="input">
      <%= form.text_area :description, {:rows => 5, :class => 'input-xxlarge'} %>
    </div>
  </div>

  <%= form.hidden_field :started %>
  <%= form.hidden_field :finished %>

  <% if @timeslice.new_record? %>
    <%= form.hidden_field :chargeable %>
  <% else %>
  <div class="clearfix">
    <%= form.label :chargeable %>
    <div class="input">
      <%= form.check_box :chargeable %>
    </div>
  </div>
  <% end %>


  <div class="actions">
    <%= form.submit "Save", :class => 'btn primary' %>
  </div>
