
  <% flash[:error] = form.error_messages :message => nil, :header_message => nil %>

  <% unless task.present? %>
  <div class="form-item form-item-block clearfix">
    <%= form.label :task_id %>
    <div class="input">
      <%= form.select :task_id, option_groups_from_collection_for_select(Customer.all, :projects_tasks, :name, :id, :name) %>
    </div>
  </div>
  <% end %>
  <div class="form-item form-item-block clearfix">
    <%= form.label :description %>
    <div class="input">
      <%= form.text_area :description, {:rows => 5, :class => 'xxlarge'} %>
    </div>
  </div>
<!--
  <div class="form-item form-item-block clearfix">
    <%= form.label :started %>
    <div class="input">
      <%= form.text_field :started %>
    </div>
  </div>
  <div class="form-item form-item-block clearfix">
    <%= form.label :finished %>
    <div class="input">
      <%= form.text_field :finished %>
    </div>
  </div>
-->
   <%= form.hidden_field :started %>
   <%= form.hidden_field :finished %>
  <div class="form-item form-item-block clearfix">
    <%= form.label :chargeable %>
    <div class="input">
      <%= form.check_box :chargeable %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Save", :class => 'btn primary' %>
  </div>
