
  <% flash[:error] = form.error_messages %>

  <% unless timeslice.new_record? || !timeslice.try(:has_stakeholder?, current_user) %>
  <div class="form-item form-item-block">
    <%= form.label :task_id %>
    <%= form.collection_select :task_id, current_user.current_projects_tasks.sort_by(&:full_name), :id, :full_name %>
  </div>
  <% end %>
  <div class="form-item form-item-block">
    <%= form.label :description %>
    <%= form.text_area :description, {:rows => 5} %>
  </div>
  <div class="form-item form-item-block">
    <%= form.label :started %>
    <%= form.datetime_select :started, :minute_step => current_user.minute_step %>
  </div>
  <div class="form-item form-item-block">
    <%= form.label :finished %>
    <%= form.datetime_select :finished, :minute_step => current_user.minute_step %>
  </div>
  <div class="form-item form-item-block">
    <%= form.label :chargeable %>
    <%= form.check_box :chargeable %>
  </div>
  <div class="form-item form-item-block">
    <%= form.submit "Save" %>
  </div>
