<table class="timeslices">
  <thead>
  <tr>
    <th>User</th>
    <th>Description</th>
    <th>Date</th>
    <th>Time</th>
    <th>Duration</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
<% for timeslice in timeslices %>
  <tr>
    <td><%= link_to timeslice.user.full_name, user_path(timeslice.user) %></td>
    <td><%=h timeslice.description %></td>
    <td><%=h timeslice.date %></td>
    <td><%=h timeslice.started_time %> - <%=h timeslice.finished_time %></td>
    <td><%=h timeslice.duration_in_hours %> hours</td>
    <td class="show"><%= show_link timeslice %></td>
    <td class="edit"><%= edit_link timeslice %></td>
    <td class="delete"><%= delete_link timeslice %></td>
  </tr>
<% end %>
  </tbody>
<tfoot>
  <tr>
    <td colspan="5"></td>
    <td><%= (Timeslice.total_duration(timeslices)/60/60).to_f.round(2) %> hours</td>
    <td colspan="3"></td>
  </tr>
</tfoot>
</table>
