<% form_tag timeslice_smart_create_path, {:id => 'new_timeslice'} do %>
<%
my_tasks = current_user.assigned_tasks.doing.collect do |task|
  [[task.project.customer.name, task.project.name, task.name].join(' - '), task.id]
end
my_tasks.sort!
recent_tasks = current_user.timeslices.find(:all, :include => :task, :order => 'started desc', :limit => 10, :group => :task_id).collect {|timeslice| [[timeslice.task.project.customer.name, timeslice.task.project.name, timeslice.task.name].join(' - '), timeslice.task.id]}
tasks = {
  'Current tasks' => recent_tasks,
  'Other tasks' => my_tasks
}
%>

  <div class="task-details">
    <div class="task">
      <%= select 'timeslice', 'task_id', grouped_options_for_select(tasks) %>
    </div>
    <div class="description">
      <%= text_area 'timeslice', 'description', { :rows => 3, :class => 'resize' } %>
    </div>
  </div>
  <div class="time-details">
    <div class="chargeable">
      <%= label :timeslice, :chargeable, '$' %>
      <%= check_box 'timeslice', 'chargeable', {:checked => 'checked'} %>
    </div>
    <div class="started">
      <%= text_field 'timeslice', 'started_time', :minute_step => current_user.minute_step, :size => 4 %>
    </div>
    <div class="finished">
      <%= text_field 'timeslice', 'finished_time', :minute_step => current_user.minute_step, :size => 4 %>
    </div>
    <%= submit_tag 'Add time', {:id => 'timeslice_submit'} %>
  </div>
<% end %>
