<% unless @timeslices.blank? || @invoice.blank? %>
<%= title 'Invoice: ' + @invoice %>
<% else %>
  <% if @invoice.blank? %>
    <%= title 'Invoice Tracker' %>
  <% else %>
    <%= title 'Invoice: "' + @invoice + '" does not exist' %>
  <% end %>
<% end %>

You can enter the <strong>invoice number</strong> from one of our invoices to see a complete list of the time slices associated with the invoice.
<% form_tag invoice_tracker_path do %>
  Invoice number:
  <%= text_field_tag 'invoice_val', @invoice %>
  <%= submit_tag 'Go' %>
<% end %>

<% unless @recent.nil? %>
<strong>Recent Invoices:</strong>
<ul id="recent">
<% for item in @recent %>
  <li><%= link_to item.ar.to_s, invoice_tracker_path(item.ar) %> for <%= link_to item.task.project, item.task.project %></li>
<% end %>
</ul>
<% end %>

<% unless @timeslices.blank? || @invoice.blank? %>
  <%= render :partial => 'invoice_list', :locals => {:timeslices => @timeslices} %>
<% end %>
