<% unless @timeslices.blank? || @ar.blank? %>
<%= title 'Sales order: ' + @ar %>
<% else %>
  <% if @ar.blank? %>
    <%= title 'Sales order tracker' %>
  <% else %>
    <%= title 'Sales order: "' + @ar + '"does not exist' %>
  <% end %>
<% end %>

You can enter the <strong>sales order number</strong> from one of our invoices to see a complete list of the time slices associated with the invoice.
<% form_tag sales_order_tracker_path do %>
  Sales order number:
  <%= text_field_tag 'ar_val', @ar %>
  <%= submit_tag 'Go' %>
<% end %>

<% unless @recent.nil? %>
<strong>Recent sales orders:</strong>
<ul id="recent">
<% for item in @recent %>
  <li><%= link_to item.ar.to_s, '/sales-order-tracker/' + item.ar.to_s %> for <%= link_to item.task.project, item.task.project %></li>
<% end %>
</ul>
<% end %>

<% unless @timeslices.blank? || @ar.blank? %>
  <%= render :partial => 'sales_order_list', :locals => {:timeslices => @timeslices} %>
<% end %>
