<%- content_for :breadcrumbs do -%>
  <%= crumb 'Timesheet', timesheet_path %>
<% end %>

<div id="timesheet-table">
  <table id="timesheet-week" class="bordered-table zebra-striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Task</th>
        <th>Description</th>
        <th>Time</th>
        <th>Duration</th>
        <!--<th>Chargeable</th>
        <th></th>-->
      </tr>
    </thead>
    <tbody>
      <% (@date.beginning_of_week..@date.end_of_week).each do |date|
        table_class = (date == Date.today) ? date.strftime('%A').downcase + ' today' : date.strftime('%A').downcase
        %>
      <tr class="day-heading <%= table_class %>">
        <th colspan="5">
          <%= date.strftime('%A (%Y-%m-%d)') %>
        </th>
      </tr>
      <% current_user.timeslices.by_date(date).each do |timeslice| %>
      <tr class="<%= table_class %>">
        <td><%= link_to timeslice.project.name, timeslice.project %></td>
        <td><%= link_to timeslice.task.name, timeslice.task %></td>
        <td><%= link_to timeslice.description, timeslice %></td>
        <td><%= timeslice.started_time %> - <%= timeslice.finished_time %></td>
        <td class="right"><%= timeslice.duration_in_hours %></td>
        <!--
        <td class="right"><%= timeslice.chargeable %></td>
        <td class="edit"><%= edit_link timeslice %></td>
        -->
      </tr>
      <% end %>
      <tr class="subtotal <%= table_class %>">
        <td colspan="4"></td>
        <td><%= (Timeslice.total_duration(current_user.timeslices.by_date(date))/60/60).to_f.round(2) %> hours</td>
        <!--
        <td><%= (Timeslice.total_chargeable_duration(current_user.timeslices.by_date(date))/60/60).to_f.round(2) %> hours</td>
        <td colspan="1"></td>
        -->
  </tr>
      <% end %>
      <tr class="total">
    <td colspan="4"></td>
    <td><%= (Timeslice.total_duration(current_user.timeslices.by_date(@date.beginning_of_week, @date.end_of_week))/60/60).to_f.round(2) %> hours</td>
    <!--
    <td><%= (Timeslice.total_chargeable_duration(current_user.timeslices.by_date(@date.beginning_of_week, @date.end_of_week))/60/60).to_f.round(2) %> hours</td>
    <td colspan="1"></td>
    -->
  </tr>
    </tbody>
  </table>
</div>
