<% javascript "timeslice.update_ar" %>

<div class="sales">
<%= title "Update AR" %>
<div id="update-ar">
<% @customers.uniq.each do |customer| %>
  <% content_tag 'div', { :class => ['customer', "customer-#{customer.id}"].join(' '), :id => "customer-#{customer.id}" } do %>
  <h3><%= customer.name %></h3>
  <div class="projects">
    <% @projects.find_all {|project| project.customer == customer}.uniq.each do |project| %>
      <% content_tag 'div', { :class => ['project', "project-#{project.id}"].join(' '), :id => "project-#{project.id}" } do %>
      <h4><%= project.name %></h4>
        <% form_tag update_ar_save_path, {:method => :put} do %>
        <table class="update-ar-table">
        <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Project</th>
          <th>Task #</th>
          <th>Task</th>
          <th>Chargeable hours</th>
          <th>Nonchargeable hours</th>
        </tr>
        </thead>
        <tbody>
        <%
        total = 0
        nontotal = 0
        %>
        <% @tasks.find_all {|task| task.project == project}.uniq.each do |task| %>
          <% content_tag 'tr', { :class => ['task', "task-#{task.id}"].join(' '), :id => "task-#{task.id}" } do %>
            <% timeslices = task.timeslices.find(:all, :conditions => ['(timeslices.ar IS NULL) OR (timeslices.ar = 0)']) %>
            <%
            started_date = task.timeslices.find(:first, :conditions => ['(timeslices.ar IS NULL) OR (timeslices.ar = 0)']).started.strftime('%d/%m/%y')
            finshed_date = task.timeslices.find(:last, :conditions => ['(timeslices.ar IS NULL) OR (timeslices.ar = 0)']).finished.strftime('%d/%m/%y')
            if started_date != finshed_date
              date = started_date.to_s + " - " + finshed_date.to_s
            else
              date = started_date.to_s
            end
            %>
            <td class="form">
              <%= check_box_tag 'include_task[]', task.id, {:id => "task-#{task.id}-include"} %>
              <% for id in task.timeslices.find(:all, :conditions => ['(timeslices.ar IS NULL) OR (timeslices.ar = 0)']).collect(&:id) %>
                <%= hidden_field_tag 'timeslice_ids[' + task.id.to_s + '][]', id, {:id => "task-#{task.id}-timeslices-#{id}"} %>
              <% end %>
            </td>
            <td><%= date %></td>
            <td><%= project.name%></td>
            <td><%= task.id %></td>
            <td><%= task.name %><%- unless Timeslice.total_nonchargeable_duration(timeslices) == 0 %> (<%= (Timeslice.total_nonchargeable_duration(timeslices).to_f/60/60).round(2) %> n/c)<%- end -%></td>
            <td class="hours"><%= (Timeslice.total_chargeable_duration(timeslices).to_f/60/60).round(2) %> <%- total = total + Timeslice.total_chargeable_duration(timeslices)-%></td>
            <td class="hours"><%= (Timeslice.total_nonchargeable_duration(timeslices).to_f/60/60).round(2) %> <%- nontotal = nontotal + Timeslice.total_nonchargeable_duration(timeslices)-%></td>
          <% end %>
        <% end %>
        </tbody>
        <tfoot>
          <tr>
          <td colspan="4"></td>
          <td>Total</td>
          <td><%= (total.to_f/60/60).round(2) %></td>
          <td><%= (nontotal.to_f/60/60).round(2) %></td>
          </tr>
        </tfoot>
        </table>

        <div class="ar-input">
          <label>Sales Order:</label>
          <%= text_field_tag 'ar' %>
          <%= submit_tag 'Update AR' %>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% end %>
<% end %>
</div>
</div>
