  <div class="form-item form-item-block">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>
  <div class="form-item form-item-block">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="form-item form-item-block">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="form-item form-item-block">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
