  <% flash[:error] = form.error_messages :message => nil, :header_message => nil %>
  <div class="form-item form-item-block clearfix">
    <%= form.label :full_name %>
    <div class="input">
      <%= form.text_field :full_name %>
    </div>
  </div>
  <div class="form-item form-item-block clearfix">
    <%= form.label :email %>
    <div class="input">
      <%= form.text_field :email %>
    </div>
  </div>
  <div class="form-item form-item-block clearfix">
    <%= form.label :password %>
    <div class="input">
      <%= form.password_field :password %>
    </div>
  </div>
  <div class="form-item form-item-block clearfix">
    <%= form.label :password_confirmation %>
    <div class="input">
      <%= form.password_field :password_confirmation %>
    </div>
  </div>
  <% if !current_user.nil? && current_user.is_staff %>
  <div class="form-item form-item-block clearfix">
    <%= form.label :is_staff %>
    <div class="input">
      <%= form.check_box :is_staff %>
    </div>
  </div>

  <div class="form-item form-item-block clearfix">
    <%= form.label :minute_step %>
    <div class="input"> 
      <%= form.select :minute_step, User.minute_steps_for_select %> <div class="field-description">Default minute increments for timeslices.</div>
    </div>
  </div>
  <% end %>
  <% unless @user.new_record? %>
  <div class="form-item form-item-block clearfix">
    <%= label_tag :reset_api_key, "Reset API key?" %>    
    <div class="input">
      <%= check_box_tag :reset_api_key %>
    </div>
  </div>
  <% end %>
  <div class="actions">
    <%= form.submit 'Save', :class => 'btn primary' %>
  </div>
