<%- content_for :tabs do -%>
  <%= tab 'Users', users_path, true %>
  <%= tab 'New user', new_user_path %>
<%- end -%>

<%- content_for :breadcrumbs do -%>
  <%= crumb 'Users', users_path %>
<% end %>

<% title "Users" -%>
<div id="users" class="users">
  <h3 class="title">Users</h3>
  <div class="content">
    <table class="users bordered-table zebra-striped">
      <thead>
        <tr>
          <th>Gravatar</th>
          <th>Name</th>
          <th>Email</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for user in @users %>
        <tr>
          <td><%= gravatar(user,40) %></td>
          <td><%=h user.full_name %></td>
          <td><%=h user.email %></td>
          <td><%= show_link user, 'Show' %></td>
          <td><%= edit_link user, 'Edit' %></td>
          <td><%= delete_link user, 'Delete' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="panel-footer">
    <%= will_paginate @users %>
  </div>
</div>
