<%- content_for :tabs do -%>
  <%= tab 'Show', user_path(@user), true %>
  <%= tab 'Edit', edit_user_path(@user) %>
  <%= tab 'Delete', delete_user_path(@user) %>
<%- end -%>

<%- content_for :breadcrumbs do -%>
  <%= crumb 'Users', users_path %>
  <%= crumb @user.full_name, @user %>
<% end %>

<%= title @user.full_name %>
<div class="panel three">
  <h3 class="title"><%= @user.full_name %></h3>
  <div class="content">

  <% present @user do |u| %>

    <%= u.gravatar %>
    <%= u.item :email, :email %>
    <%= u.item 'API Token', :single_access_token %>

  <% end %>
  </div>
</div>
