<%- content_for :tabs do -%>
  <%= tab 'Edit', edit_user_path(@user) %>
<%- end -%>

<%- content_for :breadcrumbs do -%>
  <%= crumb 'Users', users_path %>
  <%= crumb @user.full_name, @user %>
<% end %>

<%= title @user.full_name %>
<div class="panel three">
<h3 class="title"><%= @user.full_name %></h3>
<div class="content">
<%= gravatar(@user) %>
<p>
  <strong>Username:</strong>
  <%=h @user.name %>
</p>

<p>
  <strong>First name:</strong>
  <%=h @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%=h @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>

<p>
  <strong>API Token:</strong>
  <%=h @user.single_access_token %>
</p>

</div>
</div>
