<%- content_for :tabs do -%>
  <%= tab 'Edit', edit_stakeholder_path(@stakeholder) if can? :edit, @stakeholder %>
  <%= tab 'New stakeholder', new_project_stakeholder_path(@project) if can? :create, Stakeholder %>
<%- end -%>

<%- content_for :breadcrumbs do -%>
  <%= crumb @project.customer.name, @project.customer %>
  <%= crumb @project.name, @project %>
  <%= crumb @stakeholder.user.name, @stakeholder %>
<%- end -%>


<p>
  <b>User:</b>
  <%=h @stakeholder.user %>
</p>

<p>
  <b>Project:</b>
  <%=h @stakeholder.project %>
</p>

<p>
  <b>Role:</b>
  <%=h @stakeholder.role %>
</p>
