<% content_tag 'li', {:class => ['attachment', attachment.file.content_type.gsub('/', '-')].join(' '), :id => 'attachment_' + attachment.id.to_s} do %>
  <span class="mime-type"><%= mime_icon(attachment) %></span>
  <span class="name"><%= link_to attachment.file_file_name, attachment.file.url %></span>
  <span class="size"><%= number_to_human_size(attachment.file_file_size) %></span>
  <span class="edit"><%= edit_link attachment %></span>
  <span class="delete"><%= delete_link attachment %></span>
<% end %>
