<%= form.hidden_field :attachable_id %>
<%= form.hidden_field :attachable_type %>
<div class="clearfix">
<%= form.label :file %>
  <div class="input">
    <%= form.file_field :file %>
  </div>
</div>

<div class="actions">
<%= form.submit "Attach", :class => 'btn primary' %>
</div>

