<%- form_for(@customer) do |form| -%>
<%= form.error_messages :message => nil, :header_message => nil -%>
  <div class="clearfix">
    <%= form.label :name %>
    <div class="input">
      <%= form.text_field :name %>
    </div>
  </div>

  <% if @xero_customers %>
  <div class="clearfix">
    <%= form.label :xero_contact %>
    <div class="input">
      <%= form.select :xero_contact_id, @xero_customers.map {|c| [c.name, c.contact_id] }, { :include_blank => true } %>
      <% if @customer.xero_contact_id.blank? %>
        <% content_tag(:div, :class => "help-inline") do %>
          <%= link_to "Create new contact on Xero", "https://go.xero.com/Contacts/Edit.aspx" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Save", :class => "btn primary" %>
  </div>
<%- end -%>

