<%- content_for :tabs do -%>
  <%= tab 'Customers', customers_path %>
  <%= tab 'New Customer', new_customer_path %>
  <%= tab 'Missing Customers', missing_customers_path, true %>
<%- end -%>

<%- content_for :breadcrumbs do -%>
  <%= crumb 'Customers', customers_path %>
  <%= crumb 'Missing Customers', missing_customers_path %>
<%- end -%>
<% if @xero_customers %>
<ul>
<% @xero_customers.each do |xero_customer| %>
  <li>
    <%= link_to xero_customer.name, new_customer_path(:name => xero_customer.name) %>
    <% form_for(Customer.new(:name => xero_customer.name)) do |f| %>
      <%= f.hidden_field :name %>
      <%= f.submit "Create #{xero_customer.name}", :class => 'btn primary' %>
    <% end %>
  </li>
<% end %>
</ul>
<% else %>
No customers
<% end %>
