  <% javascript 'project' %>
  <%= form.error_messages :message => nil, :header_message => nil %>
  <% unless project.new_record? %>
  <div class="clearfix">
    <%= form.label :customer_id %>
    <div class="input">
      <%= form.collection_select :customer_id, Customer.all.sort_by(&:name), :id, :name %>
    </div>
  </div>
  <% end %>
  <div class="clearfix">
    <%= form.label :name %>
    <div class="input">
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="clearfix">
    <%= form.label :state %>
    <div class="input">
      <%= form.select :state, Project.states_for_select %>
    </div>
  </div>

  <div class="clearfix">
    <%= form.label :kind %>
    <div class="input">
      <%= form.select :kind, Project.kinds_for_select %>
    </div>
  </div>

  <div class="clearfix">
    <%= form.label :fixed_price %>
    <div class="input">
      <%= form.check_box :fixed_price %>
    </div>
   </div>

  <div class="clearfix">
    <%= form.label :rate %>
    <div class="input input-append">
      <%= form.text_field :rate, :size => 4 %><span class="add-on">$/hour</span>
    </div>
  </div>

  <div class="clearfix">
    <%= form.label :estimate %>
    <div class="input">
      <%= form.text_field :estimate, :size => 4 %>
      <span class="help-text">Leave blank for no estimate</span>
    </div>
  </div>

  <div class="clearfix">
    <%= form.label :users %>
    <div class="input">
      <%= form.collection_select :user_ids, User.all, :id, :name, {}, {:multiple => true} %>
      <span class="help-text">Leave blank for no estimate</span>
    </div>
  </div>
  
  <div class="tasks">
    <table class="project-tasks">
    <thead><tr><th>Name</th><th>Estimate</th><th>Stage</th><th>Delete</th></tr></thead>
    <tbody>
    <% form.fields_for :tasks do |t| %>
      <%= render 'task_fields', :f => t %>
    <% end %>
    <tr class="add"><td colspan="4"><%= link_to_add_fields "Add Task", form, :tasks %></td></tr>
    </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit "Save", :class => 'btn primary' %>
  </div>
