    <div class="project <%= ordered_project.state %><% if ordered_project.mine?(current_user) %> mine<% end %>">
      <div class="handle"><%= hidden_field_tag 'project_ids[]', ordered_project.id %></div>
      <div class="heading">
        <div class="title">
          <%= short_link_to_project ordered_project %>
        </div>
        <div class="customer"><%= link_to ordered_project.customer, ordered_project.customer %></div>
        <div class="expand-collapse expand"></div>
        <div class="current-state <%= ordered_project.state %>" title="<%= ordered_project.state.humanize %>"><%= truncate(ordered_project.state.humanize, {:length => 1, :omission => ''}) %></div>
        <%
        estimate = "Estimate: " + pluralize(ordered_project.estimate, ordered_project.estimate_unit.humanize.singularize) + " Chargeable: " + pluralize((ordered_project.total_chargeable_duration/60/60).round(2), 'hour'.humanize)
        %>
        <div class="estimate" title="<%= estimate %>">
          <%= ordered_project.estimate.to_s + "/" if ordered_project.estimate_unit == 'hours'  %><%= (ordered_project.total_chargeable_duration/60/60).round(2) %>
        </div>
      </div>
      <div class="content">
        <ul class="edit-links">
          <li class="view"><%= show_link ordered_project %></li>
          <li class="edit"><%= edit_link ordered_project %></li>
          <li class="delete"><%= delete_link ordered_project %></li>
        </ul>
      </div>
      <div class="order"><%= hidden_field_tag 'project_orders[]', ordered_project.weight, {:id => "project_orders_#{ordered_project.id}"} %></div>
      <div class="state"><%= hidden_field_tag 'project_states[]', ordered_project.state, {:id => "project_states_#{ordered_project.id}"} %></div>
    </div>
