<% content_tag 'li', { :class =>  ["project-#{project.id}", 'project'].join(' ') } do %>
  <span class="state <%= project.state %>"><%= project.state.humanize %></span>
  <span class="name"><%= link_to project.name, project %></span>
  <span class="estimate"><%= pluralize(project.estimate, project.estimate_unit.humanize.singularize) %></span>
  <ul class="progress-details">
    <li class="todo"><%= project.tasks.todo.length %> todo,</li>
    <li class="doing"><%= project.tasks.doing.length %> doing,</li>
    <li class="done"><%= project.tasks.done.length %> done</li>
  </ul>
  <ul class="edit-links">
    <li class="edit"><%= edit_link project if can? :edit, project %></li>
    <li class="delete"><%= delete_link project if can? :destroy, project %></li>
  </ul>
<% end %>
