<% content_tag 'div', { :class =>  ["project-#{project.id}", 'project'].join(' ') } do %>
  <div class="heading">
    <div class="name"><%= link_to project.name, project %></div>
    <span class="customer"><%= link_to project.customer, project.customer %></span>
    <div class="overview">
    <%= project.tasks.todo.length %> todo,
    <%= project.tasks.doing.length %> doing,
    <%= project.tasks.done.length %> done.
    </div>
    <div class="expand-collapse expand"></div>
  </div>
  <div class="content">
    <div class="stakeholders">
      <h3>Development Team</h3>
      <ul class="stakeholders">
      <% project.stakeholders.sort_by {|s| s.user.full_name}.each do |stakeholder| %>
        <li id="stakeholder-<%= stakeholder.id %>"><%= gravatar(stakeholder.user, 32) %><%= link_to stakeholder.user.full_name, stakeholder.user %><br /><%= stakeholder.role.humanize %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
