<%- content_for :breadcrumbs do -%>
  <%= crumb 'Customers', customers_path %>
  <%= crumb @project.customer.name, @project.customer %>
  <%= crumb 'Projects', customer_projects_path(@project.customer) %>
  <%= crumb @project.name, @project %>
<%- end -%>

<%- content_for :tabs do -%>
  <%= tab 'Show', project_path(@project) %>
  <%= tab 'Edit', edit_project_path(@project) %>
  <%= tab 'Delete', delete_project_path(@project), true %>
  <% tab "Tasks #{count_label(@project.tasks.size)}", project_tasks_path(@project) do %>
    <%= tab 'Tasks', project_tasks_path(@project) %>
    <li class="divider"></li>
    <%= tab 'New task', new_project_task_path(@project) %>
  <% end %>
  <% tab 'Time', time_project_path(@project) do %>
    <%= tab 'Uninvoiced', uninvoiced_project_path(@project) %>
  <% end %>
  <%= tab "Files #{count_label(@project.attachments.size)}", project_attachments_path(@project) %>
<%- end -%>

<%= title "Are you sure you want to continue?" -%>

This will delete <%= link_to @project.name, @project %>, and all of the associated tasks, etc.
<% form_for @project, :html => {:method => 'delete'} do |f| %>
  <%= f.submit 'Delete', :class => 'btn primary' %> or <%= link_to 'Cancel', @project, :class => 'btn danger' %>
<% end %>

