<%- content_for :breadcrumbs do -%>
  <% unless @customer.nil? %>
    <%= crumb "Customers", customers_path %>
    <%= crumb @customer.name, @customer %>
    <%= crumb 'Projects', customer_projects_path(@customer) %>
    <% else %>
      <%= crumb 'Projects', projects_path %>
  <% end %>
<%- end -%>

<%- content_for :tabs do -%>
  <% if @customer.nil? %>
    <%= tab 'Projects', projects_path, true %>
  <% else %>
    <%= tab 'Projects', customer_projects_path(@customer), true %>
    <%= tab 'New project', new_customer_project_path(@customer) %>  
  <% end %>
<%- end -%>

<% title "Projects" -%>
<div id="projects">
  <h3 class="title">Projects</h3>
  <div class="content">
    <ul class="projects">
      <%= render @projects %>
    </ul>
  </div>
  <div class="panel-footer">
    <%= will_paginate @projects %>
  </div>
</div>