<%- content_for :breadcrumbs do -%>
  <% unless @customer.nil? %>
    <%= crumb @customer.name, @customer %>
    <%= crumb 'Projects', customer_projects_path(@customer) %>
    <% else %>
      <%= crumb 'Projects', projects_path %>
  <% end %>
<%- end -%>

<% title "Projects" -%>
<div id="projects" class="projects panel no-padding">
  <h3 class="title">Projects</h3>
  <div class="content">
    <ul class="projects">
      <%= render @projects %>
    </ul>
  </div>
  <div class="panel-footer">
    <%= will_paginate @projects %>
  </div>
</div>