<%- content_for :breadcrumbs do -%>
  <% unless @customer.nil? %>
    <%= crumb "Customers", customers_path %>
    <%= crumb @customer.name, @customer %>
    <%= crumb 'Projects', customer_projects_path(@customer) %>
    <% else %>
      <%= crumb 'Projects', projects_path %>
  <% end %>
<%- end -%>

<%- content_for :tabs do -%>
  <% if @customer.nil? %>
    <%= tab 'Projects', projects_path, true %>
  <% else %>
    <%= tab 'Projects', customer_projects_path(@customer), true %>
    <%= tab 'New project', new_customer_project_path(@customer) %>  
  <% end %>
<%- end -%>

<%= title "Projects" -%>

<% javascript 'projects' %>

<table id="projects" class="projects bordered-table zebra-striped">
  <thead>
    <tr><th>Name</th><% if @customer.blank? %><th>Customer</th><% end %><th>State</th><th>Estimate/Quote</th><th>Details</th></tr>
  </thead>
  <tbody>
    <%= render @projects %>
  </tbody>
</table>
<%= will_paginate @projects %>
