<%- content_for :breadcrumbs do -%>
  <%= crumb 'Customers', customers_path %>
  <%= crumb @project.customer.name, @project.customer %>
  <%= crumb 'Projects', customer_projects_path(@project.customer) %>
  <%= crumb @project.name, @project %>
<%- end -%>

<%- content_for :tabs do -%>
  <%= tab 'Show', project_path(@project), true %>
  <%= tab 'Edit', edit_project_path(@project) %>
  <%= tab 'Delete', delete_project_path(@project) %>
  <% tab 'Tasks', project_tasks_path(@project) do %>
    <%= tab 'Tasks', project_tasks_path(@project) %>
    <li class="divider"></li>
    <%= tab 'Import tasks', import_project_tasks_path(@project) %>
    <%= tab 'New task', new_project_task_path(@project) %>
  <% end %>
<%- end -%>

<%- #javascript "project.watch" -%>

<%= title @project.name %>

<div class="row">
<div class="span8 offset8 project-info<%= ' overrunning' if @project.overrunning? %>">
  <% if @project.percentage_of_budget_used %>
  <strong>Budget:</strong>
  <span><%= number_to_percentage(@project.percentage_of_budget_used, :precision => 0) %></span>
  <% end %>
  <strong>Complete:</strong>
  <span><%= number_to_percentage(@project.percentage_complete, :precision => 0) %></span>
  <strong><%= "Estimate:" unless @project.fixed_price %><%= "Quote:" if @project.fixed_price %></strong>
  <span><%= pluralize(@project.estimate, 'hour').downcase %> <% if @project.estimate && current_user.is_staff? && @project.rate.present? %>(<%= number_to_currency(@project.estimate * @project.rate) %>)<% end %></span>
  <% if (@project.fixed_price && current_user.is_staff?) || !@project.fixed_price %>
  /
  <strong>Chargeable:</strong>
  <span><%= pluralize(@project.total_chargeable_hours, 'hour') %> <% if @project.total_chargeable_duration && current_user.is_staff? && @project.rate.present? %>(<%= number_to_currency(@project.total_chargeable_hours * @project.rate) %>)<% end %></span>
  <% end %>
</div>

</div>
<div id="tasks" class="row">
<!--
<div class="span8 quick-add">
  <h4 class="hideform addlink">Add a task</h4>
  <div class="well">
  <% form_for [@project, @task] do |f| %>
    <div class="form-item form-item-block clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Add', :class => 'btn' %>
    </div>
  <% end %>
  </div>
</div>
-->
<div class="span16">
<table>
<thead><tr><th>Name</th><th>State</th><th>Estimate</th><th>Comments</th><th></th></tr></thead>
<tbody>
<%= render @project.tasks %>
</tbody>
</table>
</div>
</div>


