<%- content_for :breadcrumbs do -%>
  <%= crumb 'Customers', customers_path %>
  <%= crumb @project.customer.name, @project.customer %>
  <%= crumb 'Projects', customer_projects_path(@project.customer) %>
  <%= crumb @project.name, @project %>
<%- end -%>

<%- content_for :tabs do -%>
  <%= tab 'Show', project_path(@project), true %>
  <%= tab 'Edit', edit_project_path(@project) %>
  <%= tab 'Delete', delete_project_path(@project) %>
  <% tab "Tasks #{count_label(@project.tasks.size)}", project_tasks_path(@project) do %>
    <%= tab 'Tasks', project_tasks_path(@project) %>
    <li class="divider"></li>
    <%= tab 'New task', new_project_task_path(@project) %>
  <% end %>
  <% tab "Time #{count_label(@project.timeslices.size)}", time_project_path(@project) do %>
    <%= tab 'Uninvoiced', uninvoiced_project_path(@project) %>
  <% end %>
  <%= tab "Files #{count_label(@project.attachments.size)}", project_attachments_path(@project) %>
<%- end -%>

<%= title @project.name %>


<div class="project-info<%= ' overrunning' if @project.overrunning? %>">
  <% if @project.percentage_of_budget_used %>
  <strong>Budget:</strong>
  <span><%= number_to_percentage(@project.percentage_of_budget_used, :precision => 0) %></span>
  <% end %>
  <strong>Complete:</strong>
  <span><%= number_to_percentage(@project.percentage_complete, :precision => 0) %></span>
  <strong><%= "Estimate:" unless @project.fixed_price %><%= "Quote:" if @project.fixed_price %></strong>
  <span><%= pluralize(@project.estimate, 'hour').downcase %> <% if @project.estimate && @project.rate.present? %>(<%= number_to_currency(@project.estimate * @project.rate) %>)<% end %></span>
  /
  <strong>Chargeable:</strong>
  <span><%= pluralize(@project.total_chargeable_hours, 'hour') %> <% if @project.total_chargeable_duration && @project.rate.present? %>(<%= number_to_currency(@project.total_chargeable_hours * @project.rate) %>)<% end %></span>
</div>

<table class="tasks bordered-table zebra-striped">
  <thead><tr><th>Name</th><th>State</th><th>Estimate</th><th>Time</th></tr></thead>
  <tbody>
    <% @project.tasks.current.group_by(&:stage).each do |stage, tasks| %>
      <tr>
        <th><%= (stage.present? ? stage.humanize : 'Other') %></th>
        <th></th>
        <th><%= pluralize(tasks.map {|t |t.estimate.to_f}.sum.to_f.round(2), 'hour') %></th>
        <th><%= pluralize(tasks.map(&:total_chargeable_duration_hours).sum.to_f.round(2), 'hour') %></th>
      </tr>				
      <%= render tasks %>
    <% end %>        
  </tbody>
</table>

