<tbody>
  <% (start_date..end_date).each do |date|
     table_class = (date == Date.today) ? date.strftime('%A').downcase + ' today' : date.strftime('%A').downcase
     %>
  <tr class="day-heading <%= table_class %>">
    <td colspan="9">
      <%= date.strftime('%A, %d/%m/%Y') %>
    </td>
  </tr>
  <% timeslices.by_date(date).each do |timeslice| %>
  <tr class="<%= table_class %>">
    <td><%= link_to timeslice.user, timeslice.user %></td>
    <td><%= timeslice.task.project.id %></td>
    <td><%= link_to timeslice.task.project.name, timeslice.task.project %></td>
    <td><%= timeslice.task.id %></td>
    <td><%= link_to timeslice.task.name, timeslice.task %></td>
    <td><%= timeslice.started_time %> - <%= timeslice.finished_time %></td>
    <td><%= timeslice.description %></td>
    <td class="right"><%= timeslice.duration_in_hours %></td>
    <td class="right"><%= timeslice.chargeable %></td>
  </tr>
  <% end %>
  <tr class="subtotal <%= table_class %>">
    <td colspan="7"></td>
    <td><%= (Timeslice.total_duration(timeslices.by_date(date))/60/60).to_f.round(2) %> hours</td>
    <td><%= (Timeslice.total_chargeable_duration(timeslices.by_date(date))/60/60).to_f.round(2) %> hours</td>
  </tr>
  <% end %>
  <tr class="total">
    <td colspan="7"></td>
    <td><%= (Timeslice.total_duration(timeslices.by_date(start_date, end_date))/60/60).to_f.round(2) %> hours</td>
    <td><%= (Timeslice.total_chargeable_duration(timeslices.by_date(start_date, end_date))/60/60).to_f.round(2) %> hours</td>
  </tr>
</tbody>
