<%- content_for :breadcrumbs do -%>
  <%= crumb 'Reports', reports_path %>
<% end %>
<%= title "Reports" %>
<ul>
  <li><%= link_to 'Staff time statistics', reports_path('timestats') %></li>
  <li><%= link_to 'Staff timesheets', reports_path('timesheets') %></li>
  <li><%= link_to 'Monthly project report', reports_path('monthly_report') %></li>
  <li><%= link_to 'Projects per user', reports_path('user_projects') %></li>
  <li><%= link_to 'Stakeholders per project', reports_path('project_stakeholders') %></li>
</ul>
