<%- content_for :breadcrumbs do -%>
  <%= crumb 'Reports', reports_path %>
  <%= crumb 'Monthly project report', reports_path('monthly_report') %>
<% end %>

<% if @project.nil? %>
<%= title 'Monthly project report' %>
<div>Please choose a project and month.</div>
<% else %>
<%= title "Monthly project report for '#{@project}' - #{@date.strftime('%B %Y')}" %>
<% end %>

<% form_tag reports_path('monthly_report'), :method => :get do %>
<%= collection_select :project, :id, current_user.current_projects.sort_by(&:full_name), :id, :full_name, {:include_blank => true} %>
<%= select_month @date%>
<%= submit_tag 'Go' %>
<% end %>

<% unless @project.nil? %>
<table>
  <thead>
    <tr>
      <th>Task #</th>
      <th>Task</th>
      <th>Description</th>
      <th>Last modified</th>
      <th>Time spent</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%=h task.id %></td>
      <td><%= link_to task.name, task %></td>
      <td><%= markdown(h(task.description)) %></td>
      <td><%=h task.updated_at.strftime('%m/%d/%y') %></td>
      <td><%=h pluralize((Timeslice.total_chargeable_duration(task.timeslices.find(:all, :conditions => ["timeslices.created_at LIKE :month", {:month => "#{@date.strftime('%Y')}-#{@date.strftime('%m')}%"}])).to_f/60/60).round(2), 'hour')%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
