<%- content_for :breadcrumbs do -%>
  <%= crumb 'Reports', reports_path %>
  <%= crumb 'Stakeholders per project', reports_path('project_stakeholders') %>
<% end %>

<%= title "Stakeholders per project" %>
<% @projects.each do |project| %>
<div class="project">
<h3 class="title"><%= link_to project, project %></h3>
<div class="stakeholders">
  <% if project.users.size != 0 %>
  <h3>Stakeholders<% if current_user.is_staff? %><span class="right"><%= link_to image_tag('edit.png', :alt => "Edit"), project_stakeholders_path(project), {:class => 'edit'} %></span><% end %></h3>
  <ul class="stakeholders">
    <% project.stakeholders.sort_by {|s| s.user.full_name}.each do |stakeholder| %>
    <li id="stakeholder-<%= stakeholder.id %>">
      <%= gravatar(stakeholder.user, 32) %>
      <div><%= link_to stakeholder.user.full_name, stakeholder.user %></div>
      <div><%= stakeholder.role.humanize %></div>
    </li>
    <% end %>
  </ul>
  <% else %>
  <strong>No Stakeholders!</strong>
  <% end %>
</div>
</div>
<% end %>
