<%- content_for :breadcrumbs do -%>
  <%= crumb 'Reports', reports_path %>
  <%= crumb 'Stakeholders per project', reports_path('project_stakeholders') %>
<% end %>

<%= title "Stakeholders per project" %>
<% @projects.each do |project| %>
<div class="project">
<h3 class="title"><%= link_to project, project %></h3>
<div class="stakeholders">
  <% if project.users.present? %>
    <%= render :partial => 'stakeholders/list', :locals => {:project => project}  %>
  <% else %>
  <strong>No Stakeholders!</strong>
  <% end %>
</div>
</div>
<% end %>
