<%- content_for :breadcrumbs do -%>
  <%= crumb 'Reports', reports_path %>
  <%= crumb 'Staff time statistics', reports_path('timestats') %>
<% end %>
<%= title 'Staff Time Statistics' %>
<div id="staff_time_stats" class="panel">
  <h3 class="title">Staff time stats</h3>
    <div class="content">
    <% @staff.each do |user| %>
      <% content_tag :div, {:id => 'user-' + user.id.to_s, :class => 'staff'} do %>

      <%
          # chargeable
          chargeable = user.chargeable.collect {|t| t.duration}
          totals_by_week = user.chargeable.sort_by(&:week).group_by(&:week).collect { |week, timeslices| (Timeslice.total_duration(timeslices)/60/60).round(2) }
          totals_by_day = user.chargeable.sort_by(&:day_number).group_by(&:day_name).collect { |day, timeslices| (Timeslice.total_duration(timeslices)/60/60).round(2) }
          total_mean = chargeable.inject(0.0) { |sum, el| sum + el } / chargeable.size
          total_mean = 0 unless total_mean > 0
          week_mean = totals_by_week.inject(0.0) { |sum, el| sum + el } / totals_by_week.size
          week_mean = 0 unless week_mean > 0

          #non chargeable

          non_chargeable = user.non_chargeable.collect {|t| t.duration}
          non_totals_by_week = user.non_chargeable.sort_by(&:week).group_by(&:week).collect { |week, timeslices| (Timeslice.total_duration(timeslices)/60/60).round(2) }
          non_totals_by_day = user.non_chargeable.sort_by(&:day_number).group_by(&:day_name).collect { |day, timeslices| (Timeslice.total_duration(timeslices)/60/60).round(2) }
          non_total_mean = non_chargeable.inject(0.0) { |sum, el| sum + el } / non_chargeable.size
          non_total_mean = 0 unless non_total_mean > 0
          non_week_mean = non_totals_by_week.inject(0.0) { |sum, el| sum + el } / non_totals_by_week.size
          non_week_mean = 0 unless non_week_mean > 0
      %>

      <h3 class="title"><%= user.to_s %></h3>
      <div class="stats">
        <div class="stat">
          <strong>Chargeable time to date:</strong>
          <span><%= pluralize(Timeslice.total_chargeable_duration(user.timeslices)/60/60, 'hour') %></span>
        </div>
        <div class="stat">
          <strong>Non-chargeable time to date:</strong>
          <span><%= pluralize(Timeslice.total_nonchargeable_duration(user.timeslices)/60/60, 'hour') %></span>
        </div>
        <div class="stat">
          <strong>Average chargeable time per week:</strong>
          <span><%= pluralize((week_mean.to_f).round(2), 'hour') %></span>
        </div>
        <div class="stat">
          <strong>Average non-chargeable time per week:</strong>
          <span><%= pluralize((non_week_mean.to_f).round(2), 'hour') %></span>
        </div>
        <div class="stat">
          <strong>Average chargeable timeslice length:</strong>
          <span><%= pluralize((total_mean.to_f/60).round(2), 'minute') %></span>
        </div>
        <div class="stat">
          <strong>Average non-chargeable timeslice length:</strong>
          <span><%= pluralize((non_total_mean.to_f/60).round(2), 'minute') %></span>
        </div>
        <div class="stat">
          <strong>Weekly chargeable hours:</strong>
          <div class="inlinebar"><%= totals_by_week.join(',') %></div>
        </div>
        <div class="stat">
          <strong>Weekly non-chargeable hours:</strong>
          <div class="inlinebar-red"><%= non_totals_by_week.join(',') %></div>
        </div>
        <div class="stat">
          <strong>Chargeable hours by day:</strong>
          <div class="inlinebar"><%= totals_by_day.join(',') %></div>
        </div>
        <div class="stat">
          <strong>Non-chargeable hours by day:</strong>
          <div class="inlinebar-red"><%= non_totals_by_day.join(',') %></div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="panel-footer">
  </div>
</div>
<% stylesheet "fullcalendar" %>
<% javascript "fullcalendar.min" %>
<% stylesheet "reports.timestats" %>
<script type="text/javascript">
$(document).ready(function() {
  $('#hours_calendar div.content').fullCalendar({
    defaultView: 'month',
    events: '/javascripts/timeslice_totals_by_day.js',
    firstDay: 1,
    theme: true,
    height: 540,
    eventClick: function( event, jsEvent, view ) {
      $('<div id="popup" />').load('/reports/timestats_summary/?start_date=' + event.start.getTime()/1000 + '&end_date=' + event.end.getTime()/1000 + ' #content', function() {

        }).dialog({
        'modal': true,
        maxWidth: $(document).width(),
        maxHeight: $(document).height(),
        minWidth: $(document).width() / 1.2,
        width: $(document).width() / 1.2,
        height: $(document).height() / 1.2,
        close: function() {$(this).remove()}
        });
    }
    });
});
</script>
<div id="hours_calendar" class="panel">
  <h3 class="title">Monthly time overview</h3>
    <div class="content">
    </div>
  <div class="panel-footer"></div>
</div>
