<%- content_for :breadcrumbs do -%>
  <%= crumb 'Reports', reports_path %>
  <%= crumb 'Projects per user', reports_path('user_projects') %>
<% end %>

<% javascript_tag do %>
$(document).ready(function() {
$('table tbody tr td').click(function() {
var project = $(this).parent().attr('class');
$('table tbody tr td').removeClass('highlight');
$('table tbody tr.' + project + ' td').addClass('highlight');
});
});
<% end %>

<%= title "Projects per user" %>
<div class="panels">
  <% @staff.each do |user| %>
  <div class="panel">
    <h3 class="title"><%= link_to user.full_name, user %></h3>
<div class="content">
  <table class="sticky-thead">
    <thead>
      <tr>
        <th>Project</th>
        <th>Hours/points assigned</th>
        <th>Project estimate</th>
      </tr>
    </thead>
    <tbody>
      <%
      total_hours = 0.0
      total_points = 0.0

      user.current_projects.find(:all, :conditions => {:state => 'current'}, :include => :tasks).each do |project|
      estimate = project.tasks.find(:all, :conditions => { :assigned_to_id => user.id, :state => ['not_started', 'rejected', 'started', 'delivered']}).collect {|t| t.estimate}.inject(0.0) {|sum, val| sum.to_f + val.to_f}

      case project.estimate_unit
      when 'hours'
      total_hours += estimate
      when 'points'
      total_points += estimate
      end
      %>
      <tr class="project-<%= project.id%>">
        <td><%= link_to truncate(project.to_s, :length => 30), project, :title => "#{project.customer}: #{project}" %></td>
        <td><span title="Current estimated work"><%= estimate %> <%= project.estimate_unit %></span></td>
        <td><%= project.estimate %> <%= project.estimate_unit %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel-footer">
  Hours assigned <%= total_hours %> | Points assigned <%= total_points %>
</div>
</div>
<% end %>
</div>
