<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= yield(:title) || SETTINGS['tagline'] -%> - <%= SETTINGS['name'] %></title>
    <link rel="SHORTCUT ICON" href="/favicon.ico" />
    <%= stylesheet_link_tag [
          '/libraries/bootstrap/bootstrap.css',
          '/libraries/bootstrap-xtra/bootstrap-xtra.css',
          '/libraries/jquery.ui/theme/jquery-ui.css',
          '/libraries/chosen/chosen.css',
          'application']
    %>
    <%= javascript_include_tag [
          '/libraries/jquery/jquery.min.js',
          '/libraries/jquery.ui/jquery.ui.min.js',
          '/libraries/jquery.form/jquery.form.min.js',
          '/libraries/store/store.js',
          '/libraries/bootstrap/bootstrap-dropdown.js',
          '/libraries/bootstrap/bootstrap-alerts.js',
          '/libraries/chosen/chosen.jquery.min.js',
          'application'] %>
    <%= yield :head %>
  </head>
  <body class="<%= body_classes %>">
    <div id="header" class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
	        <h3 class="title"><a class="brand" href="/"><%= image_tag 'logo.png', :width => '32', :height => '32' %><%= SETTINGS['name'] %></a></h3>
          <%- if current_user -%>

            <% form_tag search_path, :method => :get, :class => 'form-search navbar-search pull-left' do %>
              <%= text_field_tag :q, '', :class => 'search-query', :placeholder => 'Search' %>
            <% end %>
	          <ul class="nav secondary-nav">
              <%= nav_li('Customers', customers_path, 'customers') %>

              <%= nav_li('Projects', projects_path, 'projects', {}) %>

              <% nav_li('Timesheet', timesheet_path, 'timeslices', {}) do  %>
                <%= nav_li('Timesheet', timesheet_path, 'timeslices', {}) %>
                <%= nav_li('Calendar', timesheet_calendar_path, 'timeslices', {}) %>
              <% end %>
     
              <% nav_li(gravatar(current_user, 30), current_user, nil, {:li => {:class => 'gravitar dropdown'}}) do %>
                <%= nav_li('Users', users_path) %>
                <%= nav_li('New user', new_user_path) %>
                <%= nav_li 'Edit Profile', profile_path, 'users' %>
                <li class="divider"></li>
                <%= nav_li 'Logout', logout_path %>
              <% end %>
		
            </ul>
	        <%- end -%>
        </div>
      </div>
    </div>
    <div id="page" class="fluid-container">
      <div class="content">
      <ul class="breadcrumb">
        <li class="home"><a href="/">Home</a></li>
        <%= yield(:breadcrumbs) -%>
      </ul>

      <%= display_flashes -%>

      <% unless yield(:tabs).blank? %>
      <ul id="tabs" class="tabs" data-dropdown="dropdown">
        <%= yield(:tabs) -%>
      </ul>
      <% end %>

      <div id="content">
        <%= yield -%>
      </div>

    </div>
  </body>
</html>
