<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= yield(:title) || SETTINGS['tagline'] -%> - <%= SETTINGS['name'] %></title>
    <link rel="SHORTCUT ICON" href="/favicon.ico" />
    <%= stylesheet_link_tag ['bootstrap', 'bootstrap-xtra', 'application', 'theme/jquery-ui.css'] %>
    <%= javascript_include_tag ['jquery.min', 'jquery.ui.min', 'jquery.form.min', 'bootstrap-dropdown', 'bootstrap-alerts', 'application'] %>
    <%= yield :head %>
  </head>
  <body class="<%= body_classes %>">
    <div id="header" class="topbar">
      <div class="topbar-inner">
        <div class="container">
	        <h3 class="title"><a href="/"><!--<%= image_tag 'ristretto.png' %>--> <%= SETTINGS['name'] %></a></h3>
	
	  <ul class="secondary-nav nav" data-dropdown="dropdown">
	    <%- if current_user -%>
	      <% nav_li('Customers', customers_path, 'customers') do %>
    	    <%= nav_li('Customers', customers_path) %>
    	    <li class="divider"></li>
  	      <%= nav_li('New Customer', new_customer_path) %>
    	  <% end %>

	      <%= nav_li('Projects', projects_path, 'projects', {}) %>
	      <%= nav_li('Timesheet', timesheet_path(Date.today), 'timeslices', {}) %>
        
	      <% nav_li('Sales', '#', nil, {:class => 'sales'}) do %>
	        <%= nav_li('Invoice Tracker', invoice_tracker_path) %>
	        <%= nav_li('Update AR', update_ar_path) %>
	      <% end %>
	
	      <% nav_li('Reports', reports_path, nil, {}) do %>
	        <%= nav_li 'Staff time statistics', reports_path('timestats') %>
	        <%= nav_li 'Staff timesheets', reports_path('timesheets') %>
	        <%= nav_li 'Monthly project report', reports_path('monthly_report') %>
	        <%= nav_li 'Projects per user', reports_path('user_projects') %>
	      <% end %>
	
	    <%- end -%>

 

	    <%- if current_user -%>
	    
	     <% nav_li(gravatar(current_user, 30), current_user, nil, {:li => {:class => 'gravitar menu'}}) do %>
	        <%= nav_li('Users', users_path) %>
	        <%= nav_li('New user', new_user_path) %>
	        <%= nav_li('Mailouts', mailouts_path) %>
	        <%= nav_li 'Edit Profile', profile_path, 'users' %>
	        <li class="divider"></li>
	        <%= nav_li 'Logout', logout_path %>
	    <% end %>

	    
	    <%#= nav_li('Search', 'javascript: showSearchPopup();', nil, {:class => 'search'}) %>
	
	    <%- end -%>
	
	  </ul>
    </div>
  </div>
</div>
<div id="page" class="container">
<div class="content">
<%= display_flashes -%>
<div class="row">
  <div class="span16">
    <ul class="breadcrumb">
      <li class="home"><a href="/">Home</a></li>
      <%= yield(:breadcrumbs) -%>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span16">  
    <% unless yield(:tabs).blank? %>
    <ul id="tabs" class="tabs" data-dropdown="dropdown">
      <%= yield(:tabs) -%>
    </ul>
    <% end %>
  </div>
</div>
<div id="content" class="row">
<div class="span16 row">
<%= yield -%>
</div>
</div>
</div>
</div>
</body>
</html>
